@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap');
:root{
    --main-dark: rgb(27,28,29);
    --secondary-dark: rgb(35,36,37);
    --textcolor: rgb(169,169,179);
    --cyber-yellow: rgb(255, 207, 0, .8);
    --plain-white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: var(--secondary-dark);
    color: var(--textcolor);
    font-family: 'Open Sans', sans-serif;
    word-spacing: .2rem;
    font-size: 1.1rem;
}

header{
    background: var(--main-dark);
    padding-top: 2px;
}

header div {
    text-align: center;
    padding: 1px 0;
}

ul {
    list-style: none;
}

header ul {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.nav-item {
    padding: 5px 15px;
    font-size: 1.4rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}
.body-container {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.content{
    margin: 30px auto;
    position: relative;
    min-height: 75vh;
    width: 80%;
}
.footer {
    padding: 2px 0;
    position: absolute;
    bottom: -10;
    width: 100%;
    font-size: 1rem;
}

.link {
    text-decoration: none;
    color: inherit;
}



.img-info {
    display: flex;
    margin: 1px 0;
    padding: 10px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
}
.img-info article {
    margin: 10px;
    padding: 0 10px;

}

@media only screen and (max-width: 650px){
    .img-info{
        flex-direction: column;
    }
    
}


.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.socials .fab {
    font-size: 1.7rem;
    margin: 0 10px;
}
.projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 1.9rem;
}

@media only screen and (max-width: 1120px){
    .projects-container{
        grid-template-columns: auto auto;
    }
    
}

@media only screen and (max-width: 750px){
    .projects-container{
        grid-template-columns: auto;
    }
    
}

.null {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.project {
    padding: 20px;
    border-radius: 3px; 
    background-color: rgb(255, 255, 255, .1);
    cursor: pointer;

}

.project img {
    border-radius: 3px;
    opacity: 75%;
}

.project h5 {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
}

.project a {
    margin: 5px 0;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.links > a{
    display: block;
    width: 45%;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
}

.demo {
    background-color: var(--cyber-yellow);
    color: var(--secondary-dark);
}

.read {
    background-color: var(--main-dark);
    color: var(--cyber-yellow);
}
.stack {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px 0;
}
.stack li {
    display: block;
    font-size: .8rem;
    font-weight: 300;
    border-radius: 5px;
    background-color: var(--textcolor);
    padding: 3px 6px;
    color: var(--main-dark);
    margin: 3px;
}
.title {
    width: fit-content;
    border-bottom: 2px solid var(--cyber-yellow);
    margin: 2rem auto;
    padding-bottom: 2px;
    font-size: 1.4rem;
    font-weight: 400;
}
article {
    padding: 5px 0;
}

.email {
    text-align: center;
    margin: 20px 0;
}

.post-item a:hover,
.nav-item a:hover,
.email:hover,
.socials .fab:hover {
    color: var(--cyber-yellow);
}

.project-post {
    background-color: rgb(255, 255, 255, .1);
    padding: 0 30px 30px 30px;
    border-radius: 5px;
}



.crt {
    padding: 5px 0;
    width: fit-content;
    margin: 0 auto;
}


.ql-syntax {
    background-color: var(--main-dark);
    color: var(--plain-white);
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid var(--cyber-yellow); 
}


.posts-container {
    text-align: start !important;
}

.post-item{
    padding: 5px 10px;
    border-bottom: 1px dashed var(--textcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.post-title {
    text-align: center;
    border-bottom: 3px solid var(--cyber-yellow);
    width: fit-content;
    margin: 10px auto;
    padding: 10px 0;
}